@function fmt ($val) {
  @return ($val/200) +rem;
}
.hui{
  color: #999 !important;
}

.zsgl1_container{
  width: 100%;
  height: 100%;
  padding-top: fmt(100);
  background: #f2f2f2;
  overflow: hidden;
  // padding-bottom: fmt(200);
  .main{
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
    padding-bottom: fmt(200);
    border-bottom: fmt(2) solid #ddd;
    input[type='button']{
      width: fmt(300);
      height: fmt(100);
      background: #0cb4ce;
      color: #fff;
      font:fmt(30)/fmt(100) Microsoft Yahei;
      text-align: center;
      border: none;
      outline: none;
      border-radius: fmt(50);
      position: absolute;
      left: fmt(220);
      bottom: fmt(50);
    }
  }
  ul.extra{
    width: 100%;
    overflow: hidden;
    background: #f2f2f2;
    margin-top: fmt(20);
    // border-top: fmt(2) solid #ddd;
    // border-bottom: fmt(2) solid #ddd;
    li{
      width: 100%;
      height: fmt(280);
      position: relative;
      background: #fff;
      border-bottom: fmt(2) solid #ddd;
      // padding: fmt(20) fmt(20) fmt(30) fmt(30);
      .top{
        width: 100%;
        height: fmt(100);
        padding: 0 fmt(40) 0 fmt(30);
        border-top: fmt(2) solid #eee;
        border-bottom: fmt(2) solid #ddd;
        font: fmt(30)/fmt(100) Microsoft Yahei;
        color: #333;
        // margin-top: fmt(12);
        span:first-child{
          float: left;
        }
        span:last-child{
          float: right;
        }
      }
      .left{
        float: left;
        width: fmt(240);
        height: 100%;
        position: absolute;
        left: fmt(30);
        top: fmt(120);
        overflow: hidden;
        img{
          position: absolute;
          left: 0;
          top: fmt(8);
        }
      }
      .right{
        position: absolute;
        top: fmt(120);
        right: fmt(30);
        overflow: hidden;
        // margin-top: fmt(-4);
        // margin-left: fmt(4);
        // margin-left: fmt(-10);
        p{
          font: fmt(22)/fmt(46) Microsoft Yahei;
          color: #333;
        }
      }
    }
  }
  ul.extra1{
    margin-top: 0;
    li{
      height: fmt(380);
      .bottom{
        width: 100%;
        height: fmt(100);
        padding: 0 fmt(30);
        border-top:fmt(2) solid #ddd;
        // border-bottom: fmt(2) solid #ddd;
        // margin-top: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        span{
          float: left;
          height: fmt(100);
          font: fmt(30)/fmt(100) Microsoft Yahei;
          color: #333;
        }
        img{
          float: right;
          width: fmt(200);
          margin-top: fmt(16);
        }
     }
    }
   
  }
}
