@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置盒子宽度从边框计算*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-appearance: none;
}
:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
ul, ol, li {
  list-style: none;
}
@function fmt ($val) {
  @return ($val/200) +rem;
}
//登录
.login_container{
  position: relative;
  z-index: 999;
}
//申请报名
.sqbm_container, .dbm_container{
  // .cel2{
  //   .weui-cell__hd{
  //     width: 316px;
  //   }  
  // }
  
  ul:first-of-type{
    .weui-cell__bd{
      line-height: fmt(60);
    }
    li:nth-of-type(4){
      .weui-cell_select-after .weui-select{
        padding-left: fmt(70);
      }
    }
    li:nth-of-type(8){
      .weui-cell_select-after .weui-select{
        padding-left: fmt(96);
      }
    }
    li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(6), li:nth-of-type(7){
      .weui-cell{
        padding-left: 0 !important;
      }
      .weui-cell__hd{
        width: 100px;
      }
      .weui-label, .weui-input{
        line-height: fmt(50);
      }
      [class^="weui-icon-"], [class*=" weui-icon-"]{
        font-size:10px !important;
      }
      .weui-icon-warn:before{
        width: 10px;
      }
  }
  }
  .weui-cells{
    height: 100%;
    margin: 0;
  }
  .weui-cells:before, .weui-cells:after{
    display: none;
  }
   .vux-selector{
    width: 100%;
    padding-left: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
   }
   .weui-cells{
    font-size: 14px !important;
   }
   .weui-cell__hd{
     width: 300px;
   }
   .weui-cell__bd{
     width: 100px;
   }
  .weui-select{
    text-align: right !important;
  }
  
}
//代报名
.dbm_container{
  .weui-cell__bd{
    // width: 314px;
    text-align: right;
    padding-left: fmt(90);
  }
  .weui-cell_select .weui-cell__bd:after{
    top: 52% !important;
  }
}
// 添加行程
.tjxc_container {
  .vux-x-input{
    padding-top: 0;
    padding-bottom: 0;
  }
  .weui-input{
    font: 14px/44px Microsoft Yahei;
  }
  .tab-swiper{
    margin-top: -10px;
  }
  .vux-slider {
    height: 550px;
  }
  .weui-label{
    font:14px/44px Microsoft Yahei;
    color: #333;
  }
  .weui-switch{
    margin-top: 10px;
  }
  .vux-label{
    font:14px/22px Microsoft Yahei;
  }
  .weui-select{
    position: relative;
    width: 100px;
    height: 32px;
    transform: translateX(140%);
    font:14px/32px Microsoft Yahei;
    color: #888;
    padding-left: 10px !important;
    border: 1px solid #bbb;
    border-radius: 6px;
   
  }

  .weui-cell_select .weui-cell__bd:after{
      content: '';
      width: 0;
      height: 0;
      z-index: 5;
      position: absolute;
      top: 24px;
      right: 24px;
      border :5px solid transparent ;
      border-left-color: #333 !important;
      transform: rotate(90deg);
  }
  .weui-cell__ft{
    font:14px/24px Microsoft Yahei;
    color: #333;
  }
  
}
//行程管理
.xcgl_container{
  .change{
    position: absolute;
    left: fmt(44);
    top: 0;
    font:fmt(26)/fmt(90) Microsoft Yahei;
  }
  .weui-btn{
    width: 100%;
    height: fmt(100);
    position: fixed;
    bottom: 0;
    left: 0;
    font: fmt(30)/fmt(100)  Microsoft Yahei;
    color: #fff !important;
    background: #0cb4ce !important;
    border-radius: 0;
  }
}
//人员管理
.rygl_container{
  .weui-cells:after{
    border: none;
  }
  li:first-of-type{
    .weui-cells{
      margin-top: -1px;
      height: 71px;
      border: none;
    }
    .weui-cells:before{
      border-top: none !important;
    }
    .s1 {
      .weui-select{
        right: fmt(200);
        top: fmt(40);
      } 
      .weui-cell__bd:after{
        right: fmt(220);
      }
     }
    .s2 {
      .weui-select{
        right: fmt(20);
        top: fmt(40);
      }
      .weui-cell__bd:after{
        right: fmt(40);
      }
    }
  }
  li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
    .weui-cells{
      margin-top: -1px;
      height: 51px;
      border: none;
      .s1 {
      .weui-select{
        right: fmt(200);
      } 
      .weui-cell__bd:after{
        right: fmt(40);
      }
     }
    .s2 {
      .weui-select{
        right: fmt(20);
      }
      .weui-cell__bd:after{
        right: fmt(220);
      }
    }
    }
    
    .weui-cell_select .weui-cell__bd:after{
      top:28px;
    }
    
  }
  li:nth-child(4){
    .weui-cells{
      position: relative;
    }
    .weui-select{
      // border-color: #bebebe;
      color: #bebebe;
    }
    .weui-cell_select .weui-cell__bd:after{
      border-left-color: #bebebe;
    }
  }

  .weui-cell:before{
    display: none;
  }
  .weui-select{
    position: absolute;
    // left: fmt(160);
    // margin-left: fmt(120);
    top: fmt(20);
    width: 72px;
    height: 30px;
    font:12px/28px Microsoft Yahei;
    color: #888;
    padding-left: 10px !important;
    border: 1px solid #ddd;
    border-radius: 6px;
   
  }

  .weui-cell_select .weui-cell__bd:after{
      content: '';
      width: 0;
      height: 0;
      z-index: 5;
      position: absolute;
      top: 38px;
      // right: 112px;
      border :4px solid transparent ;
      border-left-color: #898989;
      transform: rotate(90deg);
  }
}
//班次扫描用户
.drivershift_container{
  .vux-slider{
    height:fmt(730) !important;
  }
  .vux-swiper{
    height:fmt(730) !important;
  }
}

//个人中心
.personalcenter_container{
  .vux-timeline-item{
    padding-right: fmt(30);
  }
  .vux-timeline-item-content{
    padding: fmt(10) 0 0 0;
    margin-left: fmt(74);
    padding: fmt(16) 0;
    border-bottom: fmt(2) solid #eee;
  }
  // .vux-timeline-item-content:last-of-type{
  //   border-bottom: none;
  // }
  .vux-timeline-item-color{
    margin-top: fmt(8);
    background: #ddd;
    border-radius: fmt(30);
    overflow: hidden;
  }
  .vux-timeline-item-head-first{
    width: fmt(30);
    height: fmt(30);
    background: #5dce58;
    border: fmt(4) solid #ccf0cd;
    left: fmt(-4);
  }
  .vux-timeline-item-tail{
    background: #ddd;
    top: fmt(20);
  }
  [class^="weui-icon-"], [class*=" weui-icon-"]{
    display: none;
  }
  li:last-of-type{
    .vux-timeline-item-content{
      border-bottom: none;
    }
  }
}
//住宿管理
.zsgl1_container{
  .vux-tab-selected{
    color: #333 !important;
  }
  .vux-slider{
    margin-top: fmt(20);
    // padding: fmt(80) 0;
    // overflow: hidden;
  }
  .vux-swiper{
    height: fmt(1130) !important;
    // padding: fmt(80) 0;
    // overflow: hidden;
  }
  .vux-center{
    height: 100%;
  }
}
.zsgl_container, .zsgl1_container{
  .swi{
    // height: fmt(360) !important;
    overflow: hidden;
  }
  .vux-slider > .vux-indicator, .vux-slider .vux-indicator-right{
    bottom: -30px !important;
  }
  .vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
    background: #0cb4ce !important;
  }
  .weui-cell{
    height: fmt(100);
    border-bottom: fmt(2) solid #ddd;
  }
  .weui-cells{
    margin-top: 0 !important;
  }
  .vux-label{
    font-size: fmt(28);
    color: #333;
  }
  .vux-cell-value{
    font-size: fmt(28);
    margin: 0 fmt(8) fmt(8) 0;
    line-height: fmt(90);
  }
  .vux-calendar:before{
    display: none;
  }
  .weui-btn{
    width: 100%;
    height: fmt(100);
    font:fmt(30)/fmt(100) Microsoft Yahei;
    color: #fff !important;
    background: #0cb4ce !important;
    border-radius: 0;
    // margin: fmt(600) auto;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
.bmgl_container{
  .vux-slider{
    height: fmt(1400) !important;
  }
}
.v-transfer-dom{
  .vux-popup-header-right{
    color: #0cb4ce !important;
  }
  .calendar-header{
    height: fmt(60);
  }
  .vux-next-icon,.vux-prev-icon{
    width: fmt(16);
    height: fmt(16);
    border-color: #0cbece;
    margin-top: fmt(8);
  }
  .calendar-title{
    font:fmt(24)/fmt(60) Microsoft Yahei;
    transform:translateY(-44px);
  }
  .week{
    font:fmt(24)/fmt(60) Microsoft Yahei;
    color: #cacaca;
  }
  .inline-calendar{
    padding: fmt(24) fmt(36);
  }
  .inline-calendar-demo {
    background: rgba(255,255,255,0.9);
  }
  .vux-calendar-each-date{
    font:fmt(24)/fmt(50) Microsoft Yahei;
  }
  .inline-calendar td.current > span.vux-calendar-each-date{
    background: #e94142;
  }
  .inline-calendar td.is-today, .inline-calendar td.is-today.is-disabled{
    color: #e53837;
   
  }
}

