@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置盒子宽度从边框计算*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-appearance: none;
}
:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
ul, ol, li {
  list-style: none;
}
//申请报名
.sqbm_container, .dbm_container{
  .cel2{
    .weui-cell__hd{
      width: 316px;
    }
  }
  .weui-cells{
    height: 49px;
    margin: 0;
  }
  .weui-cells:before, .weui-cells:after{
    display: none;
  }
   .vux-selector{
    width: 100%;
    padding-left: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
   }
   .weui-cells{
    font-size: 14px !important;
   }
   .weui-cell__hd{
     width: 300px;
   }
   .weui-cell__bd{
     width: 100px;
   }
  .weui-select{
    text-align: right !important;
  }
}
.dbm_container{
  .weui-cell__hd{
    width: 314px;
  }
}
// 添加行程
.tjxc_container {
  .tab-swiper{
    margin-top: -10px;
  }
  .vux-slider {
    height: 550px;
  }
  .weui-label{
    font:14px/44px Microsoft Yahei;
    color: #333;
  }
  .weui-switch{
    margin-top: 10px;
  }
  .vux-label{
    font:14px/22px Microsoft Yahei;
  }
  .weui-select{
    position: relative;
    width: 100px;
    height: 32px;
    transform: translateX(140%);
    font:14px/32px Microsoft Yahei;
    color: #888;
    padding-left: 10px !important;
    border: 1px solid #bbb;
    border-radius: 6px;
   
  }

  .weui-cell_select .weui-cell__bd:after{
      content: '';
      width: 0;
      height: 0;
      z-index: 5;
      position: absolute;
      top: 24px;
      right: 24px;
      border :5px solid transparent ;
      border-left-color: #333 !important;
      transform: rotate(90deg);
  }
  .weui-cell__ft{
    font:14px/24px Microsoft Yahei;
    color: #333;
  }
  
}
//人员管理
.rygl_container{
  li:first-of-type{
    .weui-cells{
      margin-top: -1px;
      height: 71px;
      border: none;
    }
    .weui-cells:before{
      border-top: none !important;
    }
  }
  li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
    .weui-cells{
      margin-top: -1px;
      height: 51px;
      border: none;
    }
    .weui-select{
      top: 10px;
    }
    .weui-cell_select .weui-cell__bd:after{
      top:28px;
    }
  }
  li:nth-child(4){
    .weui-select{
      // border-color: #bebebe;
      color: #bebebe;
    }
    .weui-cell_select .weui-cell__bd:after{
      border-left-color: #bebebe;
    }
  }
  .weui-select{
    position: absolute;
    left: 80px;
    top: 20px;
    width: 72px;
    height: 30px;
    transform: translateX(140%);
    font:12px/28px Microsoft Yahei;
    color: #888;
    padding-left: 10px !important;
    border: 1px solid #ddd;
    border-radius: 6px;
   
  }

  .weui-cell_select .weui-cell__bd:after{
      content: '';
      width: 0;
      height: 0;
      z-index: 5;
      position: absolute;
      top: 38px;
      right: 112px;
      border :4px solid transparent ;
      border-left-color: #898989;
      transform: rotate(90deg);
  }
}
//班次扫描用户
.drivershift_container{
  .vux-slider{
    height:fmt(730) !important;
  }
  .vux-swiper{
    height:fmt(730) !important;
  }
}

@function fmt ($val) {
  @return ($val/200) +rem;
}
//个人中心
.personalcenter_container{
  .vux-timeline-item{
    padding-right: fmt(30);
  }
  .vux-timeline-item-content{
    padding: fmt(10) 0 0 0;
    margin-left: fmt(74);
    padding: fmt(16) 0;
    border-bottom: fmt(2) solid #eee;
  }
  // .vux-timeline-item-content:last-of-type{
  //   border-bottom: none;
  // }
  .vux-timeline-item-color{
    margin-top: fmt(8);
    background: #ddd;
    border-radius: fmt(30);
    overflow: hidden;
  }
  .vux-timeline-item-head-first{
    width: fmt(30);
    height: fmt(30);
    background: #5dce58;
    border: fmt(4) solid #ccf0cd;
    left: fmt(-4);
  }
  .vux-timeline-item-tail{
    background: #ddd;
    top: fmt(20);
  }
  [class^="weui-icon-"], [class*=" weui-icon-"]{
    display: none;
  }
  li:last-of-type{
    .vux-timeline-item-content{
      border-bottom: none;
    }
  }
}
//住宿管理
.zsgl_container, .zsgl1_container{
  .inline-calendar{
    padding: fmt(20) fmt(36);
  }
  .calendar-header{
    height: fmt(80);
  }
  .vux-next-icon,.vux-prev-icon{
    width: fmt(16);
    height: fmt(16);
    border-color: #0cbece;
  }
  .calendar-title{
    font:fmt(22)/fmt(60) Microsoft Yahei;
    transform:translateY(-44px);
  }
  .week{
    font:fmt(20)/fmt(60) Microsoft Yahei;
    color: #cacaca;
  }
  .inline-calendar-demo {
    background: rgba(255,255,255,0.9);
  }
  .vux-calendar-each-date{
    font:fmt(20)/fmt(50) Microsoft Yahei;
  }
  .inline-calendar td.current > span.vux-calendar-each-date{
    background: #e94142;
  }
  .inline-calendar td.is-today, .inline-calendar td.is-today.is-disabled{
    color: #e53837;
   
  }
}
.v-transfer-dom{
  .vux-popup-header-right{
    color: #0cb4ce !important;
  }
}
.zsgl1_container{
  .weui-cells{
    margin-top: 0 !important;
  }
  .weui-cells:after{
    border: 1px solid #ddd !important;
  }
  .vux-label{
    font-size: 14px;
    color: #333;
  }
}
