@function fmt ($val) {
  @return ($val/200) +rem;
}
.vux-tab-selected{
  color: #333 !important;
}
.red{
  color: #e85e53;
}
.cars_container{
  width: 100%;
  height: 100%;
  padding-top: fmt(100);
  background: #f2f2f2;
  overflow: hidden;
  padding-bottom: fmt(40);
  .ul1{
    width: 100%;
    background: #fff;
    overflow: hidden;
    margin-top: fmt(20);
    li{
      position: relative;
    }
    li:first-child{
      width: 100%;
      height: fmt(330);
      padding: fmt(24) fmt(30) 0 fmt(30);
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        // margin: 0 auto;
        object-fit: contain;
      }
    }
    li:nth-child(2){
      width: 100%;
      height: fmt(70);
      position: relative;
      padding: 0 fmt(30);
      span:first-child{
        float: left;
        width: fmt(280);
        height: 100%;
        font:fmt(28)/fmt(70) Microsoft Yahei;
        color: #333;
      }
      span:last-child{
        float: right;
        width: fmt(90);
        height: 100%;
        font:fmt(28)/fmt(70) Microsoft Yahei;
        // color: #e85e53;
      }
    }
    li:nth-child(3){
      width: 100%;
      height: fmt(60);
      span{
        background: #f2f2f2;
        // width: fmt(60);
        height: fmt(40);
        font:fmt(24)/fmt(40) Microsoft Yahei;
        color: #787878;
        text-align: center;
        border-radius: fmt(8);
      }
      span:first-child{
        width: fmt(240);
        position: absolute;
        left: fmt(30);
        top: 0;
      }
      span:nth-child(2){
        width: fmt(100);
        position: absolute;
        left: fmt(290);
        top: 0;
      }
      span:last-child{
        width: fmt(240);
      }
    }
    li:nth-child(4){
      width: 100%;
      height: fmt(108);
      position: relative;
      margin-top: fmt(-10);
      padding: 0 fmt(30) 0 fmt(30);
      font:fmt(24)/fmt(40) Microsoft Yahei;
      border-bottom: fmt(2) solid #eee; 
      span{
        display: block;
        width: fmt(360);
        height: fmt(40);
        color: #333;
        // margin-left: fmt(28);
        i{
          font-style: normal;
          color: #9c9c9c;
        }
      }
      .nav{
        position: absolute;
        right: 0;
        top:fmt(15);
        width: fmt(50);
        font-size: fmt(40);
        color: #0cb4ce;
      }
      // span:nth-child(2){
      //   float: right;
      //   width: fmt(100);
      //   height: fmt(40);
      //   text-align: right;
      //   color: #787878;
      //   i{
      //     font-style: normal;
      //     color: #e85e53;
      //   }
      // }
      span:nth-child(3){
        display: block;
        width: fmt(560);
        height: fmt(40);
        color: #333;
        i{
          font-style: normal;
          color: #9c9c9c;
        }
      }
      span:nth-child(4){
        float: right;
        width: fmt(80);
        height: fmt(40);
        color: #a9a9a9;
      }
    }
    li:nth-child(5){
      width: 100%;
      height: fmt(90);
      border-bottom: fmt(2) solid #eee;
      padding: 0 fmt(30);
      background: #0cb4ce;
      span{
        display: block;
        width: fmt(260);
        height: 100%;;
        padding-top: fmt(20);
        border-radius: fmt(10);
        font:fmt(32)/fmt(52) Microsoft Yahei;
        color: #fff;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  .green{
    color: #79cd80;
  }
  .btn1{
    color: #fff !important;
    background: #ddd !important;
  }
}