@function fmt ($val) {
  @return ($val/200) +rem;
}
.certificate_container{
  width: 100%;
  height: 100vh;
  padding-top: fmt(160);
  background: #f2f2f2;
  overflow: hidden;
  .content{
    width: 80%;
    height: 78%;
    background: #fff;
    position: relative;
    margin-left: 10%;
    border: fmt(2) solid #ddd;
    .top{
      width: 100%;
      height: 28%;
      background: linear-gradient(#0c92ce,#0cb4ce);
    }
    .img1{
      width: fmt(180);
      height: fmt(180);
      border: fmt(2) solid #fff;
      background: #fff;
      border-radius: fmt(90);
      margin: -16% 0 0 36%;
      overflow: hidden;
      position: relative;
      img{
        width: fmt(180);
        height: fmt(180);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    p:first-of-type{
      margin-top: fmt(30);
      text-align: center;
      font:fmt(32)/fmt(50) Microsoft Yahei;
      color: #0cb4ce;
    }
    p:nth-of-type(2){
      text-align: center;
      font:fmt(28)/fmt(50) Microsoft Yahei;
      color: #333;
    }
    .qrcode{
      padding-left: 24%;
      padding-top: 4%;
      img{
        width: fmt(280) !important;
        height: fmt(280) !important;
      }
    }
  }
  .btn1{
    width: fmt(320);
    height: fmt(100);
    background: #0cb4ce;
    margin: fmt(50) 0 0 fmt(212);
    border-radius: fmt(50);
    font:fmt(30)/fmt(100) Microsoft Yahei;
    text-align: center;
    color: #fff;
  }
}