@function fmt ($val) {
  @return ($val/200) +rem;
}
.dininglist_container{
  width: 100%;
  height: 100vh;
  padding-top: fmt(120);
  background: #f2f2f2;
  overflow: hidden;
  .btn1{
    width: fmt(690);
    height: fmt(100);
    position: relative;
    background: #edfcff;
    border: fmt(2) dashed #0cb4ce;
    border-radius: fmt(50);
    margin: 0 0 fmt(20) fmt(30);
    img{
      position: absolute;
      left: fmt(246);
      top: fmt(40);
    }
    span{
      font:fmt(28)/fmt(50) Microsoft Yahei;
      position: absolute;
      left: fmt(300);
      top: fmt(28);
    }
  }
  ul{
    width: 100%;
    background: #fff;
    overflow: hidden;
    border-top: fmt(2) solid #eee;
    margin-top: fmt(20);
    li:first-child{
      width: 100%;
      height: fmt(100);
      padding: 0 fmt(36) 0 fmt(30);
      span:first-child{
        float: left;
        font:fmt(28)/fmt(100) Microsoft Yahei;
        color: #333;
      }
      span:last-child{
        float: right;
        font:fmt(28)/fmt(100) Microsoft Yahei;
        color: #0cb4ce;
      }
    }
    li{
      width: 100%;
      height: fmt(180);
      border-bottom: fmt(2) solid #eee;
      position: relative;
      overflow: hidden;
      img{
        width: fmt(112);
        position: absolute;
        top: fmt(32);
        left: fmt(30);
      }
      .left{
        width: fmt(400);
        position: absolute;
        top: fmt(32);
        left: fmt(170);
        p:first-child{
          font:fmt(28)/fmt(48) Microsoft Yahei;
          color: #333;
          span{
            font:fmt(24)/fmt(48) Microsoft Yahei;
            color: #333;
          }
        }
        p:nth-of-type(2),  p:nth-of-type(3){
          font:fmt(20)/fmt(40) Microsoft Yahei;
          color: #c6c6c6;
        }
      }
    }
  }
}