@function fmt ($val) {
    @return ($val/200) +rem;
}
.meetings_container{
    position: relative;
    padding-bottom: fmt(170);
    height: 100%;
    background: #f2f2f2;
    // overflow: hidden;
    .text{
        position: relative;
        left: 0;
        top: fmt(100);
        overflow: hidden;
        z-index: 9;
        background: #f2f2f2;
    }
    .content{
        // padding-top: fmt(100);
        overflow: hidden;
        .left{
            width: fmt(200);
            float: left;
            padding: fmt(28) 0 0 fmt(24);
            img{
                width: fmt(140);
                height: fmt(180);
                box-shadow: fmt(4) fmt(4) fmt(2) #ddd;
            }
        }
        .right{
            float: left;
            width: fmt(548);
            padding: fmt(34) 0 fmt(24) 0;
            img{
                width: fmt(520);
            }
            h2{
                font:fmt(32)/fmt(40) Microsoft Yahei;
                margin-top: fmt(-20);
            }
            p:first-of-type{
                font:fmt(20)/fmt(60) Microsoft Yahei;
                color: #939393;
                margin-top: fmt(8);
                span{
                    display: inline-block;
                    width: fmt(20);
                    height: fmt(20);
                    border-radius: fmt(10);
                    background: #5dce58;
                }
            }
            p:last-of-type{
                font:fmt(24)/fmt(44) Microsoft Yahei;
                color: #939393;
                margin-right: fmt(30);
                padding: 0 0 fmt(40) 0;
                text-align:justify;
                border-bottom:1px solid #ddd;
            }
        }
    }
    li:last-of-type{
        p{
            border: none !important;   
        }
    }   
}

