@function fmt ($val) {
  @return ($val/200) +rem;
}
.blue{
  color: #0cb4ce !important;
}
.red {
  color: #e63832 !important;
}
.rygl_container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #f2f2f2;
  padding-top: fmt(100);
  .first{
    width: 100%;
    height: fmt(100);
    background: #fff;
    // border-top:1px solid #ddd;
    padding: 0 fmt(30) 0 fmt(20);
    span:first-child{
      float: left;
      font:fmt(28)/fmt(100) Microsoft Yahei;
      // color:#0cb4ce;  
    }
    span:last-child{
      float: right;
      font:fmt(28)/fmt(100) Microsoft Yahei;
      color:#565656;
    }
  }
  .second{
    width: 100%;
    height: fmt(66);
    background: #f2f2f2;
    span{
      float: left;
      padding-left: fmt(20);
      font:fmt(20)/fmt(66) Microsoft Yahei;
      color: #a3a3a3;
      overflow: hidden;
    }
  }
  ul{
    width: 100%;
    // height: fmt(548);
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    li{
      position: relative;
      border-bottom:1px solid #eee;
      height: fmt(100);
      padding: 0 fmt(30);
      overflow: hidden;
      span{
        float: left;
        font-size: fmt(32);
      }
      span:first-of-type {
        line-height: fmt(100);
        color: #bbb;
      }
      span:nth-of-type(2){
        position: relative;
        width: fmt(200);
        height: 100%;
      }
      span:nth-of-type(3){
        position: relative;
        width: fmt(400);
        height: 100%;
        float: right;
        span:first-of-type {
          float: right;
          font-size: fmt(28);
          margin-left: fmt(40);
        }
        .more{
          width: fmt(80);
          line-height: fmt(100);
          float: right;
          margin-left: fmt(12);
          font-size: fmt(24);
          color: #bbb;
        }
        img{
          float: right;
          margin-top: fmt(20);
          width: fmt(54);
          height: fmt(54);
          margin-left: fmt(8);
        }
        .spanlast{
          float: right;
          width: fmt(120);
          font-size: fmt(28);
          color: #0cb4ce;
          line-height: fmt(100);
          text-align: center;
        }
      }
    }
  }
  .last{
    width: 100%;
    display: flex;
    height: fmt(110);
    position: fixed;
    bottom: 0;
    left: 0;
    font:fmt(30)/fmt(110) Microsoft Yahei;
    text-align: center;
    letter-spacing: fmt(4);
    border-top: 1px solid #eee;
    p:first-of-type{
      flex: 1;
      background: #fff;
      color: #0cb4ce;
    }
    p:last-of-type{
      flex: 1;
      background: #0cb4ce;
      color: #fff;
    }
  }
}
