@function fmt ($val) {
  @return ($val/200) +rem;
}
.vux-tab-selected{
  color: #333 !important;
}
.col1{
  color: #b9b9b9;
}
.col2{
  color: #888;
}
.col3{
  color: #0cb4ce;
}
.col4{
  color: #8ee28d;
}
.col5{
  color: #ddd;
}
.vux-tab{
  position: relative;
  .icon1{
    font-size: fmt(28);
    font-family: Arial;
    position: absolute;
    top: fmt(0);
    left: fmt(630);
    color: #5bc5d8;
  }
}

.personalcenter_container{
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  padding-top: fmt(100);
  .top{
    width: 100%;
    height: fmt(340);
    position: relative;
    // background: url(../../assets/images/bg1.png);
    background: linear-gradient(#0c92ce,#0cb4ce);
    padding-top: fmt(230);
    img{
      position: absolute;
      left: fmt(300);
      top: fmt(50);
    }
    p:first-of-type{
      text-align: center;
      font:fmt(28)/fmt(40) Microsoft Yahei;
      color: #fff;
      
    }
    p:nth-of-type(2){
      text-align: center;
      font:fmt(24)/fmt(40) Microsoft Yahei;
      color: #fff;
      font-weight: lighter;
    }
  }
  .list{
    width: 100%;
    height: fmt(540);
    background: #f2f2f2;
    overflow: hidden;
    .inner{
      width: 100%;
      height: fmt(264);
      background: #fff;
      padding: 0 fmt(30) 0 fmt(24);
      margin-top: fmt(8);
      overflow: hidden;
      .first{
        width: 100%;
        height: fmt(88);
        overflow: hidden;
        border-bottom: fmt(2) dashed #ddd;
        span:first-of-type{
          float: left;
          width: fmt(420);
          font: fmt(28)/fmt(88) Microsoft Yahei;
          color: #333;
        }
        span:nth-of-type(3){
          float: right;
          width: fmt(16);
          height: fmt(16);
          background: #5dce58;
          border-radius: fmt(8);
          margin: fmt(38) fmt(12) 0 0;
        }
        span:nth-of-type(2){
          float: right;
          font:fmt(20)/fmt(88) Microsoft Yahei;
          color: #999;
        }
      }
      .last{
        position: relative;
        img{
          position: absolute;
          left: 0;
          top: fmt(28);
        }
        p{
          // color: #333;
          font:fmt(20)/fmt(40) Microsoft Yahei;
        }
        p:first-of-type{
          position: absolute;
          top: fmt(20);
          left: fmt(250);
        }
        p:nth-of-type(2){
          position: absolute;
          top: fmt(66);
          left: fmt(250);
        }
        p:last-of-type{
          position: absolute;
          top: fmt(110);
          left: fmt(250);
        }
      }
    }
  }
  .list1{
    height: fmt(290);
  }
  .details_container{
    padding-top: fmt(8);
  }
  .vux-timeline{
    padding: fmt(20) 0 fmt(30) fmt(30);
    background: #fff;
  }
  .recent{
    font:fmt(24)/fmt(40) Microsoft Yahei;
  }
  .recent1{
    font:fmt(16)/fmt(40) Microsoft Yahei;
  }
 
}