@function fmt ($val) {
  @return ($val/200) +rem;
}
.personalcenter_container{
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  padding-top: fmt(100);
  .top{
    width: 100%;
    height: fmt(280);
    background: linear-gradient(#0c92ce,#0cb4ce);
    display: flex;
    div.img{
      flex: 4;
      .img1{
        position: relative;
        margin: fmt(50) 0 0 fmt(20);
        // margin-top: fmt(40);
        width: fmt(160);
        height: fmt(160);
        background: #fff;
        border: fmt(2) solid #fff;
        border-radius: fmt(80);
        overflow: hidden;
        // padding: fmt(2);
        img{
          position: absolute;
          left: fmt(2);
          top: fmt(2);
          width: fmt(156);
          height: fmt(156);
          // margin-left: fmt(30);
          text-align: center;
        }
      }
    }
    div.text{
      flex: 8;
      padding-left: fmt(16);
      color: #fff;
      font-family: Microsoft Yahei;
      p:first-of-type{
        margin-top: fmt(100);
        font-size: fmt(28);
        font-weight: bold;
      }
      p:last-of-type{
        font-size: fmt(26);
        line-height: fmt(70);
        font-weight: lighter;
      }
    }
    div.settings{
      flex: 2;
      margin: fmt(-60) 0 0 fmt(40);
    }
  }
  .middle{
    width: 100%;
    // height: fmt(400);
    overflow: hidden;
    background: #fff;
    div.title{
      position: relative;
      width: 100%;
      height: fmt(100);
      padding-left: fmt(30);
      border-bottom: fmt(2) solid #ddd;
      font:fmt(26)/fmt(100) Microsoft Yahei;
      color: #333;
      p:last-of-type{
        position: absolute;
        top: fmt(18);
        right: 0;
        width: fmt(100);
        height: fmt(64);
        background: #edf9f8;
        color: #0cb4ce;
        text-align: center;
        font:fmt(20)/fmt(60) Microsoft Yahei;
        border-top-left-radius: fmt(10);
        border-bottom-left-radius: fmt(10);
        border: fmt(2) solid #0cb4ce;
        border-right: none;
      }
    }
    ul{
      width: 100%;
      height: fmt(400);
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      li{
        flex: 0 0 33.333333%;
        height: fmt(200);
        box-sizing: border-box;
        font-size: fmt(28);
        color: #333;
        overflow: hidden;
        img{
           width: fmt(80);
           margin: fmt(30) 0 fmt(8) fmt(80);
        }
        p{
          text-align: center;
        }
      }
      li:first-of-type, li:nth-of-type(2),li:nth-of-type(4),li:nth-of-type(5){
        border-right: fmt(2) solid #ddd;
      }
      li:nth-of-type(4),li:nth-of-type(5),li:nth-of-type(6){
        border-top: fmt(2) solid #ddd; 
        border-bottom: fmt(2) solid #ddd; 
      }
    }
  }
  .bottom{
    position: relative;
    width: 100%;
    height: fmt(100);
    background: #fff;
    margin-top: fmt(20);
    padding-left: fmt(30);
    border-top: fmt(2) solid #ddd; 
    border-bottom: fmt(2) solid #ddd; 
    font-size: fmt(30);
    color: #333;
    p:first-of-type{
      height: 100%;
      line-height: fmt(100)
    }
    p:nth-of-type(2){
      position: absolute;
      top: fmt(32);
      right: fmt(72);
      width: fmt(32);
      height: fmt(32);
      background: #5dcf58;
      border-radius: fmt(16);
      border: fmt(6) solid #ccf4cb;
    }
    img{
      width: fmt(32);
      position: absolute;
      top: fmt(32);
      right: fmt(30);
    }
  }
}