@function fmt ($val) {
  @return ($val/200) +rem;
}
.vux-slider{
  height: fmt(1144);
}
.vux-tab .vux-tab-item.vux-tab-selected{
  color: #333 !important;
}
.tjxc_container{
  width: 100%;
  background: #f2f2f2;
  // height: 100vh;
  // border-top:fmt(2) solid #ddd;
  margin-top: fmt(100);
  overflow: hidden;
  .vux-x-switch{
    height: fmt(100) !important;
    .weui-label{
      color: #ababab !important; 
    }
  }
  .last{
    width: 100%;
    height: fmt(100);
    background: #fff;
    margin-top: fmt(20);
    padding: 0 fmt(30) 0 fmt(20);
    position: relative;
    border-top: fmt(2) solid #eee;
    border-bottom: fmt(2) solid #eee;
    overflow: hidden;
    span:first-of-type{
      position: absolute;
      top: fmt(20);
      float: left;
      font:fmt(28)/fmt(50) Microsoft Yahei;
    }
    span:last-of-type{
      position: absolute;
      bottom: fmt(-28);
      right: fmt(30);
      float: right;
      img{
        width: fmt(170);
      }
    }
  }
  .end{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fmt(80);
    background: #0cb4ce;
    color: #fff;
    font:fmt(30)/fmt(80) Microsoft Yahei;
    text-align: center;
  }
}


